.fademain-enter-active {
  transition: all 0.3s ease-out
  opacity: 1
  transform translate3d(0, 0, 0)
}
.fademain-enter {
  transform translate3d(-100%, 0, 0)
}

.welfare-wrapper
  display flex
  .welfare-center
    width 50%
    padding-top 50px
    figure
      width: 95%
      background: #fefefe;
      border: 2px solid #fcfcfc;
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      margin: 0 2px 15px;
      z-index 11
      img
        width: 100%; height: auto;


